<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Vancouver FIR</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
</head>
<body>
    <img src="{{ url_for('static', filename='background.png') }}" class="background">
    <nav class="fixed-nav-bar">
        <a style="cursor: pointer" href="https://auth-dev.vatsim.net/oauth/authorize?client_id=383&redirect_uri=https%3A%2F%2Fczvr-bot.xyz%2Fcallback%2Fvatsim&response_type=code&scope=full_name+vatsim_details" class="login">Login</a>
        <a style="cursor: pointer" href="/about">About</a>
        <a style="cursor: pointer" href="/contact">Contact</a>
        <a style="cursor: pointer" href="/pilots">Pilots</a>
        <a style="cursor: pointer" href="/controllers">Controllers</a>
    </nav>
</body>
</html>