<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='500.css') }}">
</head>
<body>
    <div class="background" style="">
        <h1>Well, this is awkward :(</h1>
        <p>We've ran into an error. Don't worry, we've logged the error and will look into it when we can, sorry!</p>
        <div class="button-div">
            <a href="/" class="send-me-home">Okay, I understand</a>
        </div>
    </div>
</body>
</html>