<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Vancouver FIR</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index_active.css') }}"/>
</head>
<body>
    <img src="{{ url_for('static', filename='background.png') }}" class="background">
    <nav class="fixed-nav-bar">
        <a class="welcome" style="cursor: pointer" href="/profile">Welcome, {{ welcome }}</a>
        <a style="cursor: pointer" href="/about">About</a>
        <a style="cursor: pointer" href="/contact">Contact</a>
        <a style="cursor: pointer" href="/pilots">Pilots</a>
        <a style="cursor: pointer" href="/controllers">Controllers</a>
    </nav>
</body>
</html>