<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ profile }}</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
	<script src="{{ url_for('static', filename='profile.js') }}"></script>
</head>
<body>
<nav class="fixed-nav-bar">
	<button type="button" onclick="isSure()" value="False" class="delete-user" style="cursor: pointer" id="delete-user">Delete User Data</button>
	<a class="logout" style="cursor: pointer" href="/logout">Logout</a>
	<a class="delete-sure" id="delete-sure" style="cursor: pointer" href="/delete_user">Are you sure? Click here if yes</a>
</nav>
<div class="profile-card">
	<p class="user-name">{{ profile }} {{ last }}</p>
	<a class="logout-anc" href="/logout">Logout</a>
</div>
</body>
</html>